.container-1,  .container-2, .container-3 {
    border: 1px solid blue;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}


.flex-box-container-1, .flex-box-container-2, .flex-box-container-3 {
    display: flex;
    border: 1px solid blue;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly   ;
}

.flex-box-container-1 div {
    display: flex;
    padding: 10px;
    border: 1px solid green;
    align-items: center;
}

.flex-box-container-2 img {
    border: 1px solid orange;
    padding: 10px;
}

.flex-box-container-3 img:hover{
    box-shadow: 0px 10px 50px rgba( 37, 50, 233, 1);
}